.bt-spinner {

width: 50px;

height: 50px;

border-radius: 50%;

background-color: transparent;

border: 6px solid #222;

border-top: 6px solid #3333FF;

-webkit-animation: 1s spin linear infinite;

animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
          
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}   